    <!--card for prompt, need to make sure it is changed or hidden when
    no prompt is needed.-->

  <mat-accordion multi="true" *ngIf="prompts.length > 0">
    <mat-expansion-panel *ngFor="let prompt of prompts">
      <mat-expansion-panel-header>
        {{ prompt.title }}
      </mat-expansion-panel-header>
      <p>{{ prompt.content }}</p>
    </mat-expansion-panel>
  </mat-accordion>

  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        ngModel
        required
        minlength="3"
        placeholder="Journal Title"
        #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a post title.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea
        matInput
        rows="4"
        name="content"
        ngModel
        required
        placeholder="Journal Entry"
        #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter a post title.</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="accent"
      type="submit">Save Journal Entry</button>
  </form>

<mat-accordion multi="true" *ngIf="posts.length > 0">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    <p>{{ post.content }}</p>
    <mat-action-row>
      <button mat-button color="primary">EDIT</button>
      <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0">No journal entries added yet!</p>
