<nav>
    <h3 style="text-align: center;">Journal Entry</h3>
</nav>
<div class="container">
    <form class="datepicker">
        <mat-form-field appearance="outline">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="myDatePicker">
            <mat-datepicker-toggle [for]="myDatePicker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker touchUi #myDatePicker></mat-datepicker>
        </mat-form-field>
    </form>

    <div class="row">
        <div class="col-md-12">
            <quill-editor [styles]="{height:'300px'}" 
            [modules]="editorModule"
            (onFocus)="focus($event)" 
            (onEditorChanged)="changedEditor($event)" 
            (onBlur)="blur($event)"
            (onEditorCreated)="created($event)">
            </quill-editor>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <p [innerHtml]="editorText"></p>
        </div>
    </div>
    <button mat-flat-button class="save-button" color="warn" type="submit">Save</button>


    <div>
        <div class="ratemood">
            <section class="bar">
                <ng-rating-bar [(value)]="value" [ratingCount]="ratingCount" [resetAble]="true" colorActive="purple"
                    colorDefault="gray"></ng-rating-bar>
            </section>
            <section class="text">
                {{response[value]}}
            </section>
        </div>
    </div>


</div>