/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

mat-form-field,
textarea {
  width: 100%;
}

:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

main {
  width: 80%;
  margin: 1rem auto;
}

body { margin: 0; }

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
